!lib.txt     #lib.txt除外
/temp        #仅忽略项目根目录下的TODO文件,不包括其它目录temp
build/       #忽略build/目录下的所有文件


#keil 文件配置
*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
 
RTE/
Templates/
Examples/
 
!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.bin
!*.hex